.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
        }
        .login-form {
            padding: 40px;
            background: #fff;
            width: 500px;
            box-shadow: 0 0 3px #ddd;
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 30px white inset;
            }
        }
    }

    &:after {
        content: '';
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    &:before {
        content: '';
        background: #4a148c;
        position: absolute;
        top: 0%;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}
.svg {
  fill: #4a148c;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a148c;
}
.router-link {
  padding-bottom: 20px;
  text-align: right;
}
