html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Fontil Sans';
}

.main-container {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mat-toolbar-single-row {
  height: 55px !important;
}

table {
  width: 100%;
}
th {
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 16px !important;
  background-color: rgba(0,0,0,.04);
}
tbody {
  tr {
    &:hover {
      background-color: rgba(50,0,100,.04);
    }
  }
}
mat-spinner {
  margin: 50px auto;
}

.custom-bar {
  background-color: red;
}
