@font-face {
  font-family: 'Fontil Sans';
  src: url('../assets/fonts/FontinSans/Fontin_Sans_R.otf') format('opentype');
}
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/FontinSans/Roboto-Regular.ttf');
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
    $font-family: 'Roboto, Fontil Sans, monospace',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-typography($custom-typography);

$my-app-primary: mat-palette($mat-purple, 900);
$my-app-accent:  mat-palette($mat-purple, 800);
$my-app-warn:    mat-palette($mat-red, 900);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
