<div class="mb-20" fxLayout="column" fxLayout.lt-md="column" fxFlex fxLayoutGap="10px">

  <mat-card>
    <form class="task-form" fxLayout="row" fxLayoutGap="20px" fxFlex #taskForm="ngForm" [formGroup]="form" (ngSubmit)="createTask(taskForm)">
      <div fxFlex="85" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <textarea formControlName="text" [(ngModel)]="text" (keyup)="keyuptext($event)" matInput placeholder="new task text"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="15" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>
          <button mat-raised-button color="primary" class="w-100">Create</button>
        </div>
      </div>
    </form>
  </mat-card>

  <div *ngFor="let task of tasks">
    <mat-card>
      <mat-checkbox (change)="taskUpdate(task)" [checked]="task.completed" [ngClass]="task.completed ? 'task-completed' : ''">
        {{task.text}}
      </mat-checkbox>
    </mat-card>
  </div>

</div>
