<div mat-dialog-content>
  <p>{{data.title}}</p>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="close()">{{'Cancel'}}</button>
  <button mat-stroked-button color="primary" (click)="ok()">{{'Confirm'}}</button>
</div>
