<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    Todo list
  </div>
  <span class="nav-spacer"></span>
  <!--<button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="language">
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #language="matMenu">
    <button mat-menu-item (click)="changeLang('en')">
      <span>{{ 'English' | translate }}</span>
    </button>
    <button mat-menu-item (click)="changeLang('ru')">
      <span>{{ 'Russian' | translate }}</span>
    </button>
    <button mat-menu-item (click)="changeLang('uz')">
      <span>{{ 'Uzbek' | translate }}</span>
    </button>
  </mat-menu>-->
  <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profile="matMenu">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>{{user?.name}}</span>
    </button>
  </mat-menu>
  <button mat-icon-button (click)="onLoggedout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
