<div class="login-page">
    <div class="content">
        <form class="login-form" fxFlex #registerForm="ngForm" [formGroup]="form" (ngSubmit)="onRegister(registerForm)">
            <div class="text-center" fxFlex fxLayoutAlign="center center" fxLayoutGap="20px" style="margin-bottom: 30px;">
                <h2>Register</h2>
            </div>
            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input formControlName="name" matInput placeholder="Name">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex fxlayout="row" fxlayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input formControlName="login" matInput placeholder="Login">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <mat-form-field class="w-100">
                        <input formControlName="confirmPassword" matInput [type]="'password'" placeholder="Confirm password">
                    </mat-form-field>
                </div>
            </div>
            <div class="router-link" fxFlex  fxLayout="row" fxLayout.lt-md="column">
              <div fxFlexFill>
                <a routerLink="/login">Login</a>
              </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button color="primary" class="w-100">Register</button>
                </div>
            </div>

        </form>
    </div>
</div>
